body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

img {
    margin-top: 5vh;
}

#search-container {
    width: 40%;
    margin-bottom: 40vh;
    margin-top: 3vh;
}

#input-container {
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    margin: 0 auto;
}

#search-input {
    display: flex;
    width: 423px;
    height: 34px;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font: 16px arial,sans-serif;
    align-self: center;
    margin: 0 auto;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.search-buttons {
    margin: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    height: 36px;
    min-width: 54px;
    padding: 0 16px;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    margin: 14px;
}

.left-nav {
    display: flex;
    align-items: center;
}


.right-nav {
    display: flex;
    align-items: center;
}

span li {
    font-size: 13px;
}

a {
    text-decoration: none;
    color: #000;
    font-family: arial, sans-serif;
}

#sign-in {
    background-color: #4387fd;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 2px;
}

#google-apps {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-position: -132px -38px;
    background-size: 528px 68px;
    height: 30px;
    width: 30px;
    display: inline-block;
}

footer {
    width: 100%;
    margin-top: auto;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

.left-footer {
    display: flex;
    align-items: center;
}

.right-footer {
    display: flex;
    align-items: center;
}

footer a {
    font-size: 14px;
    color: #5f6368;
}

a:hover {
    text-decoration: underline;
}

.left-link {
    padding-left: 14px;
}

.right-link {
    padding-right: 14px;
}